.Pager {
  .Pager_list {
    display: flex;
    align-items: center;
    .Pager_item {
      display: inline-block;
      padding: 5px 11px;
      margin: 5px;
      background: $white;
      border-radius: $radiusBasis;
      cursor: pointer;
      @include baseClickStyle(2px, 6px, -3px, $darkBlue2);
      &.--current {
        background: $linkColor;
        color: $white;
        pointer-events: none;
      }
    }
    .Pager_link {

    }
  }
}
