.Ripple {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: rgba(lighten($white, 20%), 0.8);
  opacity: 0;
  transform: translate(-50%, -50%) scale(10);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  &-enter {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
}
